<%- include('header') %>

<form method="GET" action="/cotacao">
    <input name="cotacao" type="text" placeholder="Cotação Dolar" value="<%= cotacao %>">
    <input name="quantidade" type="text" placeholder="Quantidade $$">
    <button>Converter</button>
</form>
 
  
<%- include('footer') %>
